{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "alias": {
          "@": "./js"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"]
}
