.bildeTekstLinje {
    margin-bottom: 1em;
    img, p {
        display: inline-block;
        @media all and (max-width: @screen-xs-max) {
            display: block;
        }
    }
    img {
        width: 1.5em;
        height: auto;
        margin-right: 1em;
        @media all and (max-width: @screen-xs-max) {
            margin: auto;
            margin-bottom: 0.5em;
        }
    }
    p {
        margin: 0;
    }
}
