.skjema__input--inaktiv {
  opacity: 0.5;
}

.inputgruppe--godkjennplan, .inputgruppe--sendgodkjennplan, .inputgruppe--samtykke {
  & > div {
    display: inline-block;
  }
}
.inputgruppe--godkjennplan {
  margin-top: 2em;
  text-align: center;
  @media (max-width: @screen-xs-max) {
    margin-top: 1em;
  }
}
.inputgruppe--sendgodkjennplan {
  margin-top: 2em;
  padding: 0 2em;
  text-align: left;
  @media (max-width: @screen-xs-max) {
    margin-top: 1em;
  }
}
.inputgruppe--samtykke {
  text-align: left;
}
.lagrearbeidsoppgaveskjema__inputgruppe, .lagretiltakskjema__inputgruppe {
  margin-bottom: 2em;
}
.lagretiltakskjema__inputgruppe p {
  &:extend(.tekst--dynamisk);
}
.lagrearbeidsoppgaveskjema__inputgruppe {
  textarea {
    overflow: hidden;
  }
}
