.transition-mixin(@varighet: 150ms, @type: all) {
  transition: @type @varighet cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

@lenkeGraa: #c8c8c8;
@bakgrunnGraa: #efefef;
@greenLight: #63b282;
@blueLight: #c3ddf4;
@purple-light: #e0dae7;
@bannerblaa: #C2EAF7;
@fargeRosa : #e3b0a8;
@arbeidsoppgaveUtvibarOverskriftIkonBredde: 2em;

@import "@{nodeModulesPath}nav-frontend-core/less/core";
@import "@{nodeModulesPath}nav-frontend-typografi-style/src/index";
@import "_mixinsTypografiSykefravaer";

@import "_paneler.less";

@import "@{nodeModulesPath}nav-frontend-etiketter-style/src/index";
@import "@{nodeModulesPath}nav-frontend-knapper-style/src/index";
@import "@{nodeModulesPath}nav-frontend-lenker-style/src/lenker-mixins";
@import "@{nodeModulesPath}nav-frontend-lenker-style/src/lenker-style";
@import "@{nodeModulesPath}nav-frontend-skjema-style/src/index";
@import "@{nodeModulesPath}nav-frontend-snakkeboble-style/src/snakkeboble-style";

@import "@{nodeModulesPath}nav-frontend-lukknapp-style/src/lukknapp-style";

@import "_arbeidsoppgaveInformasjon";
@import "_arbeidsoppgaverInfoboks";
@import "_arbeidsoppgaverListe";
@import "_avbruttGodkjentPlanVarsel";
@import "_avbruttGodkjentPlanVarsel";
@import "_avvisPlan";
@import "_avvistPlanKvittering";
@import "_baserTidligereSkjema";
@import "_bildeTekstLinje";
@import "_brodsmuler";
@import "_chevron";
@import "_daypicker";
@import "_godkjennPlanAvslaatt";
@import "_godkjennPlanAvslaattOgGodkjent";
@import "_godkjennPlanMottatt";
@import "_godkjennPlanOversiktInformasjon";
@import "_godkjennPlanSendt";
@import "_godkjennPlanSkjema";
@import "_godkjennPlanTilAltinnTekst";
@import "_godkjentPlan";
@import "_godkjentPlanAvbrutt";
@import "_godkjentPlanDelKnapper";
@import "_godkjentPlanKnapper";
@import "_ikkeUtfyltPlanFeilmelding";
@import "_knapper";
@import "_knapperSykefravaer";
@import "_kommentarListe";
@import "_navigasjonsBunn";
@import "_navigasjonsTopp";
@import "_oppfolgingsplanInnhold";
@import "_oppfolgingsdialogtabell";
@import "_stegnavigasjon";
@import "_tiltakInfoboks";
@import "_tiltakInformasjon";
@import "_tiltakSkjema";
@import "_tiltaktabell";
@import "_tiltakVarsel";
@import "_layout.less";
@import "_lenker";
@import "_overstyringer-dekorator.less";
@import "_inngangspanel.less";
@import "_illustrertTittel";
@import "_oppfolgingsdialoger.less";
@import "_oppfolgingsdialogerInfoPersonvern";
@import "_oppfolgingsdialogsamtykke";
@import "_opplysninger.less";
@import "_hoder.less";
@import "_utvidbar.less";
@import "_redaksjonelt.less";
@import "_side.less";
@import "_sidetopp.less";
@import "_timeoutbox.less";
@import "_tidligereAvbruttePlaner";
@import "_avstander.less";
@import "_print.less";
@import "_dekoratorVarsler.less";
@import "_modal.less";
@import "_landingspanel.less";
@import "_knapperad.less";
@import "_hjelpeboble.less";
@import "_notifikasjonboks.less";
@import "_snakkeboble-nav-frontend";

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

.mixin-panel-padding() {
  padding-left: 1em;
  padding-right: 1em;

  @media(min-width: @screen-sm-min) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.typo-sitat-mixin {
  .typo-normal-mixin();
  font-style: italic;.knapp--tekst
  q {
    quotes: "\201C" "\201D";
  }
}

.z-index-1 {
  * {
    z-index: 1 !important;
  }
}

.tekst--dynamisk {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
